@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<Business_Entity.Human>
@section pre{
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>متریالایز | الگوی منو شیب عمودی | جدول داده </title>
    <link rel="apple-touch-icon" href="~/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/flag-icon/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/data-tables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/data-tables/css/select.dataTables.min.css">
    <!-- END: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/css-rtl/style-rtl.min.css">
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/css-rtl/themes/vertical-gradient-menu-template/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="~/css-rtl/themes/vertical-gradient-menu-template/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/pages/data-tables.min.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/css-rtl/custom/custom.css">
    <!-- END: Custom CSS-->
    <style>
        .dataTables_filter {
            display: none;
        }

        #data-table-simple_length {
            display: none;
        }
    </style>
}


<div class="row">
    <div class="col s12 m12 l12">
        <div id="button-trigger" class="card card card-default scrollspy">
            <div class="card-content">
                <h4 class="card-title">لیست اساتید</h4>
                <div class="chips chips-placeholder input-field"><input class="input" id="9474de9d-c5a1-aa61-66cd-dee182b74757" placeholder="+Tag"></div>

                <a id="btnSearch" class="waves-effect waves-light btn-small mb-1 mr-1">جستجو</a>

                <div class="row">
                    <div class="col s12">
                    </div>
                    <div class="col s12">
                        <table id="data-table-simple" class="display">
                            <thead>
                                <tr>
                                    <th>نام</th>
                                    <th>نام خانوادگی</th>
                                    <th>ایمیل</th>
                                    <th>تصویر</th>
                                    <th>ویرایش</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var i in Model)
                                    {
                                        <tr>
                                            <td style="display : none">@i.Id </td>
                                            <td>@i.Name</td>
                                            <td>@i.Family</td>
                                            <td>@i.Email</td>
                                            <td><img src="~/images/Human/@i.Picture" style="width:50px; height:50px;"></td>
                                            <td><a class="mb-6 btn-floating waves-effect waves-light purple lightrn-1 modal-trigger btnEdit" href="#modal1"><i class="material-icons">edit</i> </a></td>

                                        </tr>
                                    }
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>نام</th>
                                    <th>نام خانوادگی</th>
                                    <th>ایمیل</th>
                                    <th> تصویر</th>
                                    <th>ویرایش</th>

                                </tr>
                            </tfoot>
                        </table>
                        <div class="dataTables_paginate paging_simple_number" id="multi_select_paginate">
                            <a class="paginate_button previous disabled" aria-controls="multi-select" data-dt-idx="0" tabindex="-1" id="multi-select_previous">قبلی</a><span>
                                @{
                                    BusinessLogicLayer.BLLHuman bLLHuman = new BusinessLogicLayer.BLLHuman();
                                    int find = bLLHuman.GetAllRecords();
                                    int count;
                                    if (find % 10 == 0) count = find / 10;
                                    else count = (find / 10) + 1;
                                    for(var i = 0; i < count; i++)
                                    {
                                        <a class="paginate_button" aria-controls="multi-select" data-dt-idx=@i tabindex="0" href=@Url.Action("GetSkip","Human",new {skip=i})>@i</a>
                                    }
                                }
                            </span><a class="paginate_button next" aria-controls="multi-select" data-dt-idx="7" tabindex="0" id="multi-select_next">بعدی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ایجاد مدال برای ویرایش و آپدیت-->
<div id="modal1" class="modal" style="display: none">
    <div class="modal-content">
        <h4>ویرایش</h4>
        <div id="html-view-validations">
            <form asp-action="Update" class="formValidate0" id="edit" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <label for="uname0"></label>
                        <input class="validate" required id="fn" name="Name" type="text">
                    </div>
                    <div class="input-field col s12">
                        <label for="uname0"></label>
                        <input class="validate" required id="ln" name="Family" type="text">
                    </div>
                    <div class="input-field col s12">
                        <label for="cemail0"></label>
                        <input class="validate" required id="em" type="Email" name="Email">
                    </div>
                    <div class="input-field col s12">
                        <label for="password0"></label>
                        <input class="validate" required id="pass1" type="Password" name="Password">
                    </div>
                    <div class="input-field col s12">
                        <label for="cpassword0"></label>
                        <input class="validate" required id="pass2" type="Password" name="Password">
                    </div>

                    <div class="col s12">
                        <label for="role">نقش</label>
                        <select class="error validate" id="role" name="Role" required>
                            <option value="" disabled selected>نمایه خود را انتخاب کنید</option>
                            <option value="1">استاد</option>
                            <option value="2">دانشجو</option>
                        </select>
                        <div class="input-field">
                        </div>
                    </div>

                    <div class="col s12">
                        <p>جنسیت</p>
                        <p>
                            <label>
                                <input class="validate" id="gender" required name="gender.Male" type="radio" />
                                <span>مرد</span>
                            </label>
                        </p>

                        <label>
                            <input class="validate" id="gender" required name="gender.Female" type="radio" />
                            <span>زن</span>
                        </label>
                        <div class="input-field">
                        </div>
                    </div>
                    <div class=" row ">
                        <div class="input-field col s12">
                            <label class="contact-input" for="fn"> عکس </label>
                            <input id="pic" type="file" name="Picture" />
                        </div>
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light right iransans modal-action modal-close" type="submit" name="action">
                                ارسال
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>


</div>


@section script{

    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/vendors/data-tables/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/data-tables/js/dataTables.select.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/js/scripts/data-tables.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <!--Search-->

    <script src="~/js/scripts/ui-chips.min.js"></script>
    <!--EndSearch-->
        <<!--فانکشن دکمه سرچ-->
    <script>
        $(document).ready(function () {
            $("#btnSearch").click(function () {
                $.ajax({
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    url: "@Url.Action("HumanSearchJson", "Human")",
                    success: function (data) {
                        window.location = data.redirect + "?" + 'tags=' + JSON.stringify(M.Chips.getInstance($(".chips")).chipsData);
                    },
                });
            });
        });
    </script>
    <!--پایان فانکشن دکمه سرچ-->
    <!--فانکشن دکمه ویرایش-->
    <script>
        $(document).ready(function myFunction() {
            var id;
            var currentrow;

            String.prototype.toEnglishDigits = function () {
                var num_dic = {
                    '۰': '0',
                    '۱': '1',
                    '۲': '2',
                    '۳': '3',
                    '۴': '4',
                    '۵': '5',
                    '۶': '6',
                    '۷': '7',
                    '۸': '8',
                    '۹': '9',
                }
                return this.replace(/[۰-۹]/g, function (number) {
                    return num_dic[number];
                });
            };


            $("form#edit").submit(function (edit) {
                edit.preventDefault();
                var formData = new FormData(this);
                formData.append("id", id);
                $.ajax({
                    type: "post",
                    enctype: "multipart/form-data",
                    url: "@Url.Action("Update","Human")",
                    data: formData,
                    contentType: false,
                    processData: false,
                    complete: function (data) {
                        currentrow.find("td:eq(1)").text($("#fn").val());
                        currentrow.find("td:eq(2)").text($("#ln").val());
                        currentrow.find("td:eq(3)").text($("#em").val());
                        var fileName = $('#pic').val().split('\\').pop();
                        currentrow.find('img').attr('src', "/images/Human/" + fileName);

                    }
                });
            });
            $(".btnEdit").click(function () {
                currentrow = $(this).closest("tr");
                id = currentrow.find("td:eq(0)").text().toEnglishDigits();
                $("#fn").val(currentrow.find("td:eq(1)").text());
                $("#ln").val(currentrow.find("td:eq(2)").text());
                $("#em").val(currentrow.find("td:eq(3)").text());
                $("#pass1").val(currentrow.find("td:eq(4)").text());
                $("#pass2").val(currentrow.find("td:eq(5)").text());
                $("#role").val(currentrow.find("td:eq(6)").text());
                $("#gender").val(currentrow.find("td:eq(7)").text());
                $("#pic").val(currentrow.find("td:eq(8)").text());
            });

        });
    </script>
    <!--پایان فانکشن  دکمه ویرایش-->
    <!---->
    <script>
        $(document).ready(function myFunction() {

    </script>
    <!---->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/js/scripts/advance-ui-modals.min.js"></script>
    <!-- END PAGE LEVEL JS-->
}
